<div class="mj-column-per-67 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;border-width: 0px 0px 2px 0px;border-style: solid;border-bottom-color:#000000">
	<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
		<tr >
			<td align="left" style="font-size:0px;padding:10px 25px;padding-top:10px;padding-bottom:0px;word-break:break-word;">
				<div style="font-family:Arial, sans-serif;font-size:13px;line-height:13px;text-align:center;color:#5e6977;">
					<p style="margin: 10px 0;">Seat Number <strong>itemid0001</strong> - <strong>Rp itemid0002 ,-</strong></p>
					<p style="margin: 10px 0;">Book Code : itemid0003</p>
				</div>
			</td>
			
		</tr>
		<tr>
			<td align="center" style="font-size:0px;padding:10px 25px;padding-top:10px;padding-bottom:0px;word-break:break-word;">
				<div style="direction:ltr;display:inline-block;margin-bottom:30px">
						<img alt="" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=itemid0004" style="border:none;border-radius:px;display:block;outline:none;text-decoration:none;height:300;width:300;" />
				</div>
			</td>
		</tr>
	</table>
</div>